---
const { children } = Astro.props;
import "aos/dist/aos.css";
import SplideInit from "../scripts/aos-init.js";
const { title, description, canonical } = Astro.props;
import AOSInit from "../components/AOSInit.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K86N83BF");
    </script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="/fontawesome-brands.css" />
    <link rel="stylesheet" href="/brands.css" />
    <link rel="preload" as="image" href="/images/your-poster.webp" />

    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"
      as="style"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
      media="print"
      onload="this.media='all'"
    />

    <script src="https://unpkg.com/taos@latest/dist/taos.js" defer></script>
  </head>

  <body
    class="bg-white text-gray-800 scroll-pt-[80px] max-w-screen-lg mx-auto"
    style="background-color: rgb(246, 245, 241);"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K86N83BF"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>

  <AOSInit client:idle />
</html>
